.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
}

.body{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 70vw;
}

.description, .tagsContainer{
  display: flex;
  justify-content: flex-end;
}

.description p{
  font-size: 12px;
  margin: 0px;
}
.description p:nth-of-type(1){
  margin-top: 8px;
}
.description p:nth-of-type(2){
  font-size: 28px;
  width: 700px;
  margin-left: 30px;
}
.tagsContainer{
  display: flex;
  margin-top: 50px;
}

.tagsContainer p{
  margin: 0px;
}

.tags{
  display: flex;
  width: 700px;
  margin-left: 30px;
  flex-wrap: wrap;
  gap: 10px;
}

.tags p{
  border: 1px solid white;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px 12px 10px 12px;
}

.line{
  height: 1px;
  margin-bottom: 20px;
  width: 100%;
  position: relative;
}

.line svg{
  width: 100%;
  height: 500px;
  position: absolute;
  top: -250px;
}

.line svg path{
  stroke: white;
  stroke-width: 1px;
  fill: none;
}

.line .box{
  height: 40px;
  width: 100%;
  position: relative;
  top: -20px;
  z-index: 1;
}

.line .box:hover{
  height: 500px;
  top: -250px;
}